$bgColor-main: #F8F8F8;
$text-color-main: #1B1C21;
$text-color-title: #7E7E82;
$color-buttons: #ff3e79;
$color-line: #eaeaea;
$color-placeholder: #b5b6bc;
$color-marker: #41f6d7;

$screen-sm: 425px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-desktop: 1366px;
$screen-xl: 1440px;

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 28px;

$letter-spacing-main: -0.2px;
$letter-spacing-small: -0.6px;
$letter-spacing-big: 0.2px;





